<html>
<head>
    <title> Surfer </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="/_admin/img/logo.png">

    <link rel="stylesheet" href="/_admin/css/theme-chalk.css">
    <link rel="stylesheet" href="/_admin/css/style.css">

    <script src="/_admin/js/jquery-1.12.1.min.js"></script>
    <script src="/_admin/js/vue.js"></script>
    <script src="/_admin/js/element-ui.js"></script>
    <script src="/_admin/js/filesize.min.js"></script>
    <script src="/_admin/js/superagent.js"></script>

</head>
<body>

<div id="app" @drop="drop" @dragover="dragOver">

<el-container>
  <input type="file" ref="upload" style="display: none" id="uploadInput" multiple/>

  <el-dialog title="Login" :visible.sync="ready && !session.valid" width="30%" :close-on-press-escape="false" :show-close="false">
    <el-form :model="loginData" label-position="top" @submit.native.prevent>
      <el-form-item label="Username"><el-input v-model="loginData.username" required autofocus></el-input></el-form-item>
      <el-form-item label="Password"><el-input v-model="loginData.password" type="password" required></el-input></el-form-item>
      <input type="submit" @click="onLogin" v-show="false"/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="onLogin"><i class="el-icon-loading" v-show="busy"></i><span v-show="!busy">Login</span></el-button>
    </span>
  </el-dialog>

  <el-header>
    <el-row type="flex" justify="space-between">
      <div style="padding: 7px;">
        <span>Surfer</span>
      </div>
      <div v-show="session.valid">
        <el-button type="primary" size="small" icon="el-icon-arrow-left" :disabled="!pathParts.slice(-1).length" @click="onUp"></el-button>
      </div>
      <div style="flex-grow: 2; padding: 0 7px;" v-show="session.valid">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item><a href="#/">Path /</a></el-breadcrumb-item>
          <el-breadcrumb-item v-for="part in pathParts.slice(0, -1)"><a :href="part.link">{{ part.name }}</a></el-breadcrumb-item>
          <el-breadcrumb-item v-show="pathParts.slice(-1).length">{{ pathParts.slice(-1).length ? pathParts.slice(-1)[0].name : '' }}</el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div align="right" v-show="session.valid">
        <el-button-group>
          <el-button type="primary" icon="el-icon-upload" size="small" @click="onUpload">Upload</el-button>
          <el-button type="primary" icon="el-icon-plus" size="small" @click="onNewFolder">New Folder</el-button>

        </el-button-group>
        <el-dropdown @command="onOptionsMenu">
          <el-button size="small" icon="el-icon-more"></el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item disabled>Public Folder Listing</el-dropdown-item>
            <el-dropdown-item command="folderListing">
              <el-switch v-model="folderListingEnabled" active-text="Enabled" inactive-text="Disabled">
            </el-switch>
            </el-dropdown-item>
            <el-dropdown-item command="about" divided><i class="el-icon-info"></i> About</el-dropdown-item>
            <el-dropdown-item command="logout"><i class="el-icon-circle-close"></i> Logout</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-row>
  </el-header>
  <el-main>

    <div v-show="busy">
      <center><h1><i class="el-icon-loading"></i></h1></center>
    </div>

    <div v-show="!busy && session.valid" v-cloak>
      <center>
        <el-table :data="entries" style="max-width: 1280px;width: 100%" height="100%" empty-text="Folder is emtpy" :default-sort="{ prop: 'filePath', order: 'descending' }" @row-click="open">
          <el-table-column prop="previewUrl" label="Type" width="100px" sortable>
            <template slot-scope="scope">
              <img v-bind:src="scope.row.previewUrl" height="48px" width="48px"/>
            </template>
          </el-table-column>
          <el-table-column prop="filePath" label="Name" sortable></el-table-column>
          <el-table-column prop="size" label="Size" width="150px" sortable :formatter="prettyFileSize"></el-table-column>
          <el-table-column prop="mtime" label="Modified" width="150px" sortable :formatter="prettyDate"></el-table-column>
          <el-table-column label="Actions" align="right" width="200px" class-name="list-actions">
            <template slot-scope="scope">
              <el-button size="small" icon="el-icon-download" circle v-show="scope.row.isFile" @click.stop="onDownload(scope.row)"></el-button>
              <el-button size="small" icon="el-icon-edit" circle @click.stop="onRename(scope.row)"></el-button>
              <el-button size="small" icon="el-icon-delete" circle @click.stop="onDelete(scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </center>
    </div>

  </el-main>
  <el-footer v-show="uploadStatus.busy">
    <el-row>
      <el-col :span="4">
        Uploading files ({{ uploadStatus.done }} / {{ uploadStatus.count }})
      </el-col>
      <el-col :span="20">
        <el-progress :text-inside="true" :stroke-width="18" :percentage="uploadStatus.percentDone"></el-progress>
      </el-col>
    </el-row>
  </el-footer>
</el-container>

</div>

<script src="/_admin/js/app.js"></script>

</body>
</html>
