<html>
<head>
    <title> Cloudron Surfer </title>

    <link rel="stylesheet" href="/_admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="/_admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/_admin/css/style.css">

    <link href="/_admin/img/logo.png" rel="icon" type="image/png">

</head>
<body id="app" @drop="drop" @dragover="dragOver">

    <nav class="navbar navbar-default" v-cloak>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Surfer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li v-show="session.valid"><a href="#" v-on:click="logout()" id="logoutButton">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalDelete" v-cloak>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <h5 v-show="deleteData.isFile">Really delete <span style="font-weight: bold;">{{ deleteData.filePath }}</span>?</h5>
                    <h5 v-show="deleteData.isDirectory">Really delete folder <span style="font-weight: bold;">{{ deleteData.filePath }}</span> and all its content?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" v-on:click="del(deleteData)">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalRename" v-cloak>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Rename {{ renameData.entry.filePath }}</h4>
                </div>
                <div class="modal-body">
                    <form v-on:submit.prevent="rename(renameData)">
                        <div class="form-group" v-bind:class="{ 'has-error': renameData.error }">
                            <input type="text" class="form-control" v-model="renameData.newFilePath" placeholder="Name" autofocus="true">
                            <label class="control-label">{{ renameData.error }}</label>
                        </div>
                        <button type="submit" style="display: none;"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success" v-on:click="rename(renameData)">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalcreateDirectory" v-cloak>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New directory name</h4>
                </div>
                <div class="modal-body">
                    <form v-on:submit.prevent="createDirectory(createDirectoryData)">
                        <div class="form-group" v-bind:class="{ 'has-error': createDirectoryError }">
                            <input type="text" class="form-control" v-model="createDirectoryData" id="inputDirectoryName" placeholder="Name" autofocus="true">
                            <label class="control-label" for="inputDirectoryName">{{ createDirectoryError }}</label>
                        </div>
                        <button type="submit" style="display: none;"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="createDirectory(createDirectoryData)">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" v-show="uploadStatus.busy" v-cloak>
        <div class="row">
            <div class="col-lg-12">
                <p>Uploading... ({{ uploadStatus.done }} / {{ uploadStatus.count }}) </p>
                <center>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" v-bind:style="{ width: uploadStatus.percentDone + '%' }">
                            <span class="sr-only">{{ uploadStatus.percentDone }}% Complete</span>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div class="container" v-show="!session.valid && !busy" v-cloak>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form id="loginForm" v-on:submit.prevent="login()">
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" class="form-control" id="inputUsername" v-model="loginData.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" v-model="loginData.password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container main" v-show="session.valid" v-cloak>
        <div class="row">
            <div class="col-lg-12">
                <center v-show="!uploadStatus.busy">
                    <form id="fileUploadForm">
                        <input type="file" v-el:upload style="display: none" id="uploadInput" multiple/>
                        <button class="btn btn-primary" v-on:click.stop.prevent="upload()" id="uploadButton">Upload</button>
                    </form>
                </center>
            </div>
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-home"></i></a></li>
                    <li v-for="part in pathParts.slice(0, -1)">
                        <a href="{{ part.link }}">{{ part.name }}</a>
                    </li>
                    <li>{{ pathParts.slice(-1)[0].name }}</li>
                    <button class="btn btn-default btn-sm pull-right" v-on:click="createDirectoryAsk()">Create Folder</button>
                </ol>
            </div>
            <div class="col-lg-12" v-show="busy">
                <br/>
                <br/>
                <center>
                    <i class="fa fa-refresh fa-4x fa-spin"></i>
                </center>
            </div>
            <div class="col-lg-12" v-show="!busy">
                <table class="table table-hover table-condensed sortable">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th class="sorttable_numeric">Size</th>
                            <th class="sorttable_numeric">Modified</th>
                            <th class="sorttable_nosort" style="text-align: right;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-show="entries.length === 0">
                            <td colspan="5"><i>Empty folder</i></td>
                        </tr>
                        <tr v-for="entry in entries" v-on:click="open(entry)" class="hand">
                            <td sorttable_customkey="{{ entry.extension }}">
                                <img v-bind:src="entry.previewUrl" height="48px" width="48px"/>
                            </td>
                            <td>{{ entry.filePath }}</td>
                            <td sorttable_customkey="{{ entry.size }}">{{ entry.size | prettyFileSize }}</td>
                            <td><span v-my-tooltip="foobar" data-toggle="tooltip" title="{{ entry.mtime }}">{{ entry.mtime | prettyDate }}</span></td>
                            <td style="text-align: right;">
                                <span class="entry-toolbar">
                                    <button class="btn btn-sm btn-default" v-on:click.stop="download(entry)" title="Download" v-show="entry.isFile"><i class="fa fa-download"></i></button>
                                    <button class="btn btn-sm btn-default" v-on:click.stop="renameAsk(entry)" title="Rename"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger" v-on:click.stop="delAsk(entry)" title="Delete"><i class="fa fa-trash"></i></button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <span class="text-muted">Created by the <a href="https://cloudron.io" target="_blank">Cloudron</a> team. <a href="https://git.cloudron.io/cloudron/surfer" target="_blank">Get the code</a></span>
    </footer>

    <script src="/_admin/js/jquery-1.12.1.min.js"></script>
    <script src="/_admin/js/bootstrap.min.js"></script>
    <script src="/_admin/js/vue.min.js"></script>
    <script src="/_admin/js/filesize.min.js"></script>
    <script src="/_admin/js/superagent.js"></script>
    <script src="/_admin/js/sorttable.js"></script>
    <script src="/_admin/js/app.js"></script>

</body>
</html>
