<!DOCTYPE html>
<head>
    <title> Surfer </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="/_admin/img/logo.png">

    <script src="/_admin/js/jquery-1.12.1.min.js"></script>
    <script src="/_admin/js/filesize.min.js"></script>
    <script src="/_admin/js/superagent.js"></script>
    <script src="/_admin/3rdparty/mitt/mitt.umd.js"></script>

    <link href="/_admin/3rdparty/primevue/resources/themes/saga-blue/theme.css " rel="stylesheet">
    <link href="/_admin/3rdparty/primevue/resources/primevue.min.css " rel="stylesheet">
    <link href="/_admin/3rdparty/primeicons/primeicons.css " rel="stylesheet">
    <link href="/_admin/3rdparty/primeflex/primeflex.css " rel="stylesheet">

    <link href="/_admin/css/style.css " rel="stylesheet">

    <script src="/_admin/3rdparty/vue/vue.global.js"></script>

    <script src="/_admin/3rdparty/primevue/components/toolbar/toolbar.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/button/button.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/inputtext/inputtext.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/password/password.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/breadcrumb/breadcrumb.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/datatable/datatable.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/column/column.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/menu/menu.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/dialog/dialog.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/checkbox/checkbox.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/progressspinner/progressspinner.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/progressbar/progressbar.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/message/message.umd.js"></script>
    <script src="/_admin/3rdparty/primevue/components/tooltip/tooltip.umd.js"></script>

</head>
<body>

<div id="app" @drop="drop" @dragover="dragOver">

  <input type="file" ref="upload" style="display: none" multiple/>
  <input type="file" ref="uploadFolder" style="display: none" multiple webkitdirectory directory/>

  <div class="login-container" v-show="ready && !session.valid">
    <form @submit="onLogin" @submit.native.prevent>
      <h1>Login</h1>
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstname">Username</label>
          <p-inputtext id="firstname" type="text" v-model="loginData.username" autofocus></p-inputtext>
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <p-password id="password" :feedback="false" v-model="loginData.password"></p-password>
        </div>
      </div>
      <p-button type="submit" label="Login" @click="onLogin"></p-button>
    </form>
  </div>

  <div class="main-container">
    <div class="main-container-toolbar">
      <p-toolbar>
        <template #left>
          <p-button icon="pi pi-chevron-left" class="p-mr-2 p-button-sm" :disabled="breadCrumbs.items.length === 0" @click="onUp"></p-button>
          <p-breadcrumb :home="breadCrumbs.home" :model="breadCrumbs.items"></p-breadcrumb>
        </template>

        <template #right>
          <span class="p-buttonset">
            <p-button class="p-button-sm" label="Upload File" icon="pi pi-upload" @click="onUpload"></p-button>
            <p-button class="p-button-sm" label="Upload Folder" icon="pi pi-cloud-upload" @click="onUploadFolder"></p-button>
            <p-button class="p-button-sm" label="New Folder" icon="pi pi-plus" @click="onNewFolder"></p-button>
          </span>
          <p-button icon="pi pi-ellipsis-h" class="p-ml-2 p-button-sm p-button-outlined" @click="toggleMenu"></p-button>
          <p-menu ref="menu" :model="mainMenu" :popup="true"></p-menu>
        </template>
      </p-toolbar>
    </div>
    <div class="main-container-body">
      <div class="table">
        <div class="th">
          <div class="td" style="max-width: 50px;">Type</div>
          <div class="td" style="flex-grow: 2;">Name</div>
          <div class="td" style="max-width: 100px;">Size</div>
          <div class="td" style="max-width: 150px;">Last Modified</div>
          <div class="td" style="max-width: 100px; justify-content: right;">Actions</div>
        </div>
        <div class="tbody" style="overflow: auto;">
          <div class="tr" v-for="entry in filteredAndSortedEntries" :key="entry.fileName" @click="onEntryOpen(entry)">
            <div class="td" style="max-width: 50px;"><img :src="entry.previewUrl" style="width: 32px; height: 32px; vertical-align: middle;"/></div>
            <div class="td" style="flex-grow: 2;">{{ entry.fileName }}</div>
            <div class="td" style="max-width: 100px;">{{ prettyFileSize(entry.size) }}</div>
            <div class="td" style="max-width: 150px;">{{ prettyDate(entry.mtime) }}</div>
            <div class="td" style="max-width: 100px; justify-content: right;">
              <p-button class="p-button-sm p-button-rounded p-button-text" icon="pi pi-download" v-show="!entry.rename && entry.isFile" @click.stop="onDownload(entry)"></p-button>
              <p-button class="p-button-sm p-button-rounded p-button-danger p-button-text" icon="pi pi-trash" v-show="!entry.rename" @click.stop="onDelete(entry)"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container-footer" v-show="uploadStatus.busy">
      <div v-show="uploadStatus.uploadListCount">
        <i class="pi pi-spin pi-spinner"></i> Fetching file information for upload <span class="p-badge">{{ uploadStatus.uploadListCount }}</span>
      </div>
      <div style="margin-right: 10px;" v-show="!uploadStatus.uploadListCount">Uploading {{ uploadStatus.count }} files ({{ Math.round(uploadStatus.done/1000/1000) }}MB / {{ Math.round(uploadStatus.size/1000/1000) }}MB)</div>
      <p-progressbar :value="uploadStatus.percentDone" v-show="!uploadStatus.uploadListCount">{{uploadStatus.percentDone}}%</p-progressbar>
    </div>
  </div>

  <p-dialog v-model:visible="settingsDialog.visible" header="Settings" :modal="true" :closable="false" :style="{width: '50vw'}">
    <div style="margin-top: 4px;">
      <div class="p-field-checkbox">
        <p-checkbox id="publicFolderListing" v-model="settingsDialog.folderListingEnabled" :binary="true"></p-checkbox>
        <label for="publicFolderListing" style="font-weight: bold; font-size: 16.38px;">Public Folder Listing</label>
      </div>
      <p>If this is enabled, all folders and files will be publicly listed. If a folder contains an index.html or index.htm file, this will be displayed instead.</p>
    </div>

    <hr/>

    <div>
      <h3>Display</h3>
      <div class="p-field-checkbox">
        <p-checkbox id="sortShowFoldersFirst" v-model="settingsDialog.sortFoldersFirst" :binary="true"></p-checkbox>
        <label for="sortShowFoldersFirst">Always show folders first</label>
      </div>
    </div>

    <hr/>

    <div>
      <h3>WebDAV access</h3>
      <p>WebDAV provides a framework for users to create, change and move documents on a server.</p>
      <ul>
        <li>Windows: <a href="/_webdav/" target="_blank">{{ origin }}/_webdav/</a></li>
        <li>MacOS: <a href="/_webdav/" target="_blank">{{ origin }}/_webdav/</a></li>
        <li>Gnome: <a :href="'davs://' + domain  + '/_webdav/'" target="_blank">davs://{{ domain }}/_webdav/</a></li>
        <li>KDE: <a href="/_webdav/" target="_blank">{{ origin }}/_webdav/</a></li>
      </ul>
    </div>

    <template #footer>
      <p-button label="Close" icon="pi pi-times" class="p-button-text" @click="settingsDialog.visible = false" :disabled="settingsDialog.busy"></p-button>
      <p-button label="Save" class="p-button-success" icon="pi pi-check" @click="onSaveSettingsDialog" :disabled="settingsDialog.busy"></p-button>
    </template>
  </p-dialog>

  <p-dialog v-model:visible="accessTokenDialog.visible" header="Access Tokens" :modal="true" :closable="false" :style="{width: '50vw'}">
    Access tokens are useful to programmatically deploy assets for example within a CI/CD pipeline.
    See the <a href="https://cloudron.io/documentation/apps/surfer/" target="_blank">docs</a> for more information on how to use this token.
    <br/>
    <br/>
    <p-message severity="warn" :closable="false">Tokens are shared between all users.</p-message>
    <br/>
    <div class="p-fluid">
      <div v-for="accessToken in accessTokens" class="p-grid">
        <div class="p-col">
          <span class="p-input-icon-right">
            <i class="pi pi-copy"></i>
            <p-inputtext type="text" class="p-inputtext-sm" v-model="accessToken" @click="onCopyAccessToken" readonly style="cursor: copy !important;" v-tooltip.top.focus="'Token copied to clipboard'"></p-inputtext>
          </span>
        </div>
        <div class="p-col-fixed">
          <p-button class="p-col-12 p-button-sm p-button-danger" @click="onDeleteAccessToken(accessToken)"><i class="pi pi-trash"></i></p-button>
        </div>
      </div>
    </div>
    <br/>
    <p-button class="p-button-sm" @click="onCreateAccessToken()">Create Access Token</p-button>

    <template #footer>
      <p-button label="Close" icon="pi pi-times" class="p-button-text" @click="accessTokenDialog.visible = false"></p-button>
    </template>
  </p-dialog>

<!-- <el-container>


  <el-dialog title="Access Tokens" :visible.sync="accessTokensDialogVisible" width="40%">
    Access tokens are useful to programmatically deploy assets for example within a CI/CD pipeline.
    See the <a href="https://cloudron.io/documentation/apps/surfer/" target="_blank">docs</a> for more information on how to use this token.
    <br/>
    <br/>
    <el-alert title="Tokens are shared between all users." type="warning" show-icon :closable="false"></el-alert>
    <br/>
    <div>
      <div v-for="accessToken in accessTokens">
        <el-input suffix-icon="el-icon-copy-document" v-model="accessToken" class="access-token-input" @focus="onCopyAccessToken" size="small"></el-input>
        <el-button icon="el-icon-delete" type="danger" size="small" @click="onDeleteAccessToken(accessToken)"></el-button>
      </div>
    </div>
    <br/>
    <el-button @click="onCreateAccessToken()" size="small" type="primary">Create Access Token</el-button>
  </el-dialog>

  <el-header>
    <el-row type="flex" justify="space-between">
      <div v-show="session.valid">
        <el-button type="primary" size="small" icon="el-icon-arrow-left" :disabled="!pathParts.slice(-1).length" @click="onUp"></el-button>
      </div>
      <div style="flex-grow: 2; padding: 0 7px;" v-show="session.valid">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item><a href="#/">Home</a></el-breadcrumb-item>
          <el-breadcrumb-item v-for="part in pathParts.slice(0, -1)"><a :href="part.link">{{ part.name }}</a></el-breadcrumb-item>
          <el-breadcrumb-item v-show="pathParts.slice(-1).length">
            {{ pathParts.slice(-1).length ? pathParts.slice(-1)[0].name : '' }}
            <i class="el-icon-arrow-right" style="color: transparent;"></i>
          </el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div align="right" v-show="session.valid">
        <el-button-group>
          <el-button type="primary" icon="el-icon-upload2" size="small" @click="onUpload">Upload File</el-button>
          <el-button type="primary" icon="el-icon-upload" size="small" @click="onUploadFolder">Upload Folder</el-button>
          <el-button type="primary" icon="el-icon-plus" size="small" @click="onNewFolder">New Folder</el-button>
        </el-button-group>
        <el-dropdown @command="onOptionsMenu" :hide-on-click="false" trigger="click">
          <el-button size="small" icon="el-icon-more" id="burgerMenuButton"></el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item disabled>Public Folder Listing</el-dropdown-item>
            <el-dropdown-item command="folderListing">
              <el-switch v-model="folderListingEnabled" active-text="Enabled" inactive-text="Disabled"></el-switch>
            </el-dropdown-item>
            <el-dropdown-item disabled divided>WebDAV Endpoint</el-dropdown-item>
            <el-dropdown-item><a href="/_webdav/" target="_blank">{{ origin }}/_webdav/</a></el-dropdown-item>
            <el-dropdown-item command="apiAccess" divided><i class="el-icon-connection"></i> Access Tokens</el-dropdown-item>
            <el-dropdown-item command="about" divided><i class="el-icon-info"></i> About</el-dropdown-item>
            <el-dropdown-item command="logout" id="logoutButton"><i class="el-icon-circle-close"></i> Logout</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-row>
  </el-header>
  <el-main>

    <div v-show="busy">
      <center><h1><i class="el-icon-loading"></i></h1></center>
    </div>

    <div v-show="!busy && session.valid" v-cloak>
      <center>
        <el-table :data="entries" style="max-width: 1280px; width: 100%" height="100%" empty-text="Folder is emtpy" :default-sort="{ prop: 'fileName', order: 'descending' }" @row-click="open">
          <el-table-column prop="previewUrl" label="Type" width="80px" sortable>
            <template slot-scope="scope">
              <el-image v-bind:src="scope.row.previewUrl" class="list-icon" style="width: 32px; height: 32px" fit="cover"></el-image>
            </template>
          </el-table-column>
          <el-table-column prop="fileName" label="Name" sortable>
            <template slot-scope="scope">
              <el-input size="small" v-on:keyup.native.enter="onRenameSubmit(scope.row)" v-on:keyup.native.esc="onRenameEnd(scope.row)" @blur="onRenameEnd(scope.row)" v-model="scope.row.filePathNew" :id="'filePathRenameInputId-' + scope.$index" v-show="scope.row.rename"></el-input>
              <span v-show="!scope.row.rename">{{ scope.row.fileName }}</span>
              <el-button size="small" icon="el-icon-edit" type="text" plain circle class="rename-action" v-show="!scope.row.rename" @click.stop="onRename(scope.row, scope)"></el-button>
            </template>
          </el-table-column>
          <el-table-column prop="size" label="Size" width="150px" sortable :formatter="prettyFileSize"></el-table-column>
          <el-table-column prop="mtime" label="Modified" width="150px" sortable :formatter="prettyDate"></el-table-column>
          <el-table-column label="Actions" align="right" width="200px" class-name="list-actions">
            <template slot-scope="scope">
              <el-button size="small" icon="el-icon-download" type="text" plain circle v-show="!scope.row.rename && scope.row.isFile" @click.stop="onDownload(scope.row)"></el-button>
              <el-button size="small" icon="el-icon-delete" type="text" plain circle v-show="!scope.row.rename" @click.stop="onDelete(scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </center>
    </div>

    <el-drawer :title="activeEntry.fileName":with-header="false" :visible.sync="previewDrawerVisible" direction="rtl" size="50%">
      <div style="display: flex; flex-direction: column; height: 100%;">
        <iframe :src="activeEntry.fullPath" style="width: 100%; height: 100%; border: none; margin: 10px;"></iframe>
        <center>
          <el-button size="small" icon="el-icon-download" style="margin: 10px;" @click.stop="onDownload(activeEntry)">Download</el-button>
          <a :href="activeEntry.fullPath" target="_blank">
            <el-button size="small" icon="el-icon-link" style="margin: 10px;">Open</el-button>
          </a>
        </center>
      </div>
    </el-drawer>

  </el-main>
  <el-footer v-show="uploadStatus.busy">
    <el-row v-if="uploadStatus.uploadListCount">
      <center><i class="el-icon-loading"></i> Fetching file information for upload <el-badge class="mark" :value="uploadStatus.uploadListCount"/></center>
    </el-row>
    <el-row v-else>
      <el-col :span="4">
        Uploading {{ uploadStatus.count }} files ({{ Math.round(uploadStatus.done/1000/1000) }}MB / {{ Math.round(uploadStatus.size/1000/1000) }}MB)
      </el-col>
      <el-col :span="20">
        <el-progress :text-inside="true" :stroke-width="18" :percentage="uploadStatus.percentDone"></el-progress>
      </el-col>
    </el-row>
  </el-footer>
</el-container> -->

</div>

<script src="/_admin/js/app.js"></script>

</body>
</html>
