#app {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a.usage-link {
  color: var(--pankow-color-primary, #1a76bf);
  text-decoration: underline;
}

.directory-view .open-action:hover {
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  #app {
    background-color: black;
    color: var(--pankow-color-light-dark);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.main-container-body {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  .directory-view-header-size,
  .directory-view .size {
    display: none;
  }

  .main-container-body .pankow-resize-handle,
  .main-container-body .pankow-split-layout-second {
    display: none !important;
  }

  .main-container-body .pankow-split-layout-first {
    flex: 1 0 auto !important;
    max-width: 100% !important;
  }
}

.main-container-footer {
  display: flex;
  padding: 10px;
  background-color: #f8f9fa;
  justify-content: center;
}

.pankow-top-bar {
  border-bottom: solid 1px #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  .pankow-top-bar {
    border-bottom: none;
  }
}