
html, body {
  --text-color: #495057;
  --text-color-secondary: #6c757d;
  --primary-color: #2196F3;
  --primary-color-text: #ffffff;
  --hover-background-color: #e9ecef;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  overflow: hidden;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color-secondary);
}

#app {
  height: 100%;
  overflow: hidden;
}

.login-container {
    max-width: 480px;
    margin: auto;
}


.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.main-container-toolbar {
    border-bottom: solid 1px #e6e6e6;
}

.main-container-body {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    flex-grow: 1;
}

.main-container-content {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}

.main-container-preview {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 0;
    transition: width 200ms;
    background-color: #f8f9fa;
    border-left: solid 1px #e6e6e6;
    padding: 0;
}

.main-container-preview.visible {
    padding: 10px 10px 0px 10px;
    width: 33vw;
}

.preview-header {
    display: flex;
}

.preview-header-title {
    font-size: 16px;
    text-align: center;
    flex-grow: 1;
    margin: auto;
}

hr {
    border: none;
    border-top: 1px solid #d0d0d0;
}

.main-container-footer {
    display: flex;
    padding: 10px;
    background-color: #f8f9fa;
    justify-content: center;
}

.rename-input {
    width: 100%;
}

.rename-action {
    margin-left: 20px;
}

.tr .rename-action {
    visibility: hidden;
}

.tr:hover .rename-action {
    visibility: visible;
}

.p-breadcrumb {
    padding: 0.5rem;
    border: none;
}

.p-toolbar {
    border: none;
}

.p-progressbar {
    flex-grow: 1;
}

.p-tooltip {
    z-index: 1000;
}

.p-dialog .p-dialog-content {
    padding: 5px 1.5rem 0 1.5rem;
}

.p-menu.p-menu-overlay {
    margin-top: 5px;
}
