
html, body {
    min-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding-bottom: 70px;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.content {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

pre {
    margin: auto;
    text-align: left;
    width: 400px;
}

[v-cloak] {
  display: none;
}

.hand {
    cursor: pointer;
}

.main {
    margin-bottom: 40px;
}

footer {
    position: fixed;
    background-color: #efefef;
    bottom: 0;
    width: 100%;
    color: #555;
    font-size: 14px;
    padding: 5px;
    z-index: 13;
    opacity: .5;
    -webkit-transition: all .25s;
    transition: all .25s;
}

footer:hover {
    opacity: 1;
}

td {
    vertical-align: middle !important;
    overflow: hidden;
}

.entry-toolbar {
    opacity: 0;
    transition: opacity .25s;
}

tr:hover .entry-toolbar {
    opacity: 1;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

th {
    cursor: pointer;
}
